{% load trip_extras %}
                    <tr class="row-odd schedulle__row"
                        data-price="{{ route.min_price }}"
                        data-train="{{ route.train.tuturu_id }}"
                        data-date="{{ route.departure|simple_date_format }}"
                    >
                        <td>
                            {{ route.train.number }}
                            <br/>
                            {{ route.train.name|default_if_none:"" }}
                        </td>
                        <td class="tacenter" data-sort="{{ route.departure|date:"U" }}">
                            <div class="schedulle__time">{{ route.departure|schedule_time_format|nbsp }}</div>
                            <div class="schedulle__date">{{ route.departure|schedule_date_format|nbsp }}</div>
                        </td>
                        <td class="tacenter">&rarr; {{ route.duration|duration_time_format|nbsp }} &rarr;</td>
                        <td class="tacenter" data-sort="{{ route.arrive|date:"U" }}">
                            <div class="schedulle__time">{{ route.arrive|schedule_time_format|nbsp }}</div>
                            <div class="schedulle__date">{{ route.arrive|schedule_date_format|nbsp }}</div>
                        </td>
                        <td class="tacenter">{{ route|route_price_format|nbsp }}</td>
                        <td class="tacenter">{{ route.score|score_formatter }}</td>
                        <td class="tacenter">
                            <label class="route_picker__label">
                                <input
                                        type="radio"
                                        class="route_picker {% if direction == 'to' %}route_picker_to{% else %}route_picker_from{% endif %}"
                                        name="{% if direction == 'to' %}route_picker_to_{{ route.way.trip.id }}{% else %}route_picker_from_{{ route.way.trip.id }}{% endif %}_{{ route.departure|simple_date_format }}"
                                        value="{{ route.id }}"
                                        {% if idx == 0 %}checked="checked"{% endif %}
                                >
                                <br/>Выбрать<br/>поезд
                            </label>
                        </td>
                    </tr>
