{% load trip_extras %}
<div class="card mb-4">
    <!-- <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap"> -->
    <div class="card-body trip"
         data-departure-station="{{ trip.way_to.city_from.rzd_code }}"
         data-arrive-station="{{ trip.way_to.city_to.rzd_code }}"
    >
        <h3 class="card-title">{{ trip.way_to.city_from }} - {% city_link trip.way_to.city_to %} на выходных {% date_link trip.date_to %}</h3>
        <p class="card-text">
            {{ trip.way_to.city_to.descr }}
        </p>

        {% if IS_FULL_TABLE %}
            <h5>Туда {{ trip.routes_to_count }} поездов</h5>
        {% else %}
            <h5>Лучшие 3 поезда туда из {{ trip.routes_to_count }} поездов</h5>
        {% endif %}
        <table border="0" class="table schedulle{% if IS_FULL_TABLE %} sortable{% endif %}">
            <thead valign="bottom">
            <tr class="row-odd">
                <th class="head">Поезд</th>
                <th class="head tacenter">Отправление</th>
                <th class="head tacenter">⏱</th>
                <th class="head tacenter">Прибытие</th>
                <th class="head tacenter">Стоимость</th>
                <th class="head tacenter{% if IS_FULL_TABLE %} sortedby sortedby_asc{% endif %}">score</th>
                <th class="head">Выбрать</th>
            </tr>
            </thead>
            <tbody valign="top">
                {% for route in trip.routes_to|slice:SHOW_ROUTES_COUNT %}
                    {% route_row route forloop.counter0 'to' %}
                {% endfor %}
            </tbody>
        </table>

        <div class="schedule__more">
            <span class="schedule__more__text btn btn-outline-secondary" title="TODO: загрузить все поезда">...</span>
        </div>

        {% if IS_FULL_TABLE %}
            <h5>Обратно {{ trip.routes_from_count }} поездов</h5>
        {% else %}
            <h5>Лучшие 3 поезда обратно из {{ trip.routes_from_count }} поездов</h5>
        {% endif %}

        <table border="0" class="table schedulle{% if IS_FULL_TABLE %} sortable{% endif %}">
            <thead valign="bottom">
            <tr class="row-odd">
                <th class="head">Поезд</th>
                <th class="head tacenter">Отправление</th>
                <th class="head tacenter">⏱</th>
                <th class="head tacenter">Прибытие</th>
                <th class="head tacenter">Стоимость</th>
                <th class="head tacenter{% if IS_FULL_TABLE %} sortedby sortedby_asc{% endif %}">score</th>
                <th class="head tacenter">Выбрать</th>
            </tr>
            </thead>
            <tbody valign="top">
                {% for route in trip.routes_from|slice:SHOW_ROUTES_COUNT %}
                    {% route_row route forloop.counter0 'from' %}
                {% endfor %}
            </tbody>
        </table>

        <div class="schedule__more">
            <span class="schedule__more__text btn btn-outline-secondary" title="TODO: загрузить все поезда">...</span>
        </div>

        <a href="#" class="btn btn-primary flr btn-buy" target="_blank">Купить <span class="route_total_price"></span>₽</a>
        <a href="/trip/{{ trip.way_to.city_from.name }}/{{ trip.way_to.city_to.name }}/{{ trip.date_to }}" class="btn btn-outline-secondary">Все поезда</a>
    </div>
    <div class="card-footer text-muted">
        Posted on January 1, 2017 by
        <a href="#">Start Bootstrap</a>
    </div>
</div>
