{% load static %}
{% load trip_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.united.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">HTravel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Путешествуй на&nbsp;выходных!</h1>
        <p class="lead text-muted">На нашем сайте вы сможете найти дешёвые билеты <i>в какой-нибудь</i> город на
            выходных
            так, чтобы не брать дополнительного отпуска. Либо же добавить плюс 1-2 выходных дня к выходным и больше
            времени
            провести в выбранном городе</p>

        <p class="lead text-muted">Тут мы показываем билеты на ближайшие выходные, а можете посмотреть билеты на
            `следующие выходные` {% date_link next_saturday %} или на `другую дату`.
            А ещё вы можете посмотреть билеты на 3 месяца вперёд в `{% city_link city_spb %}`,
            `{% city_link city_kazan %}` или `другие города`
        </p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#services">На выходные 14-15 апреля</a>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2 class="my-4">Билеты в города России</h2>

                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</section>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<!--
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'vendor/scrollreveal/scrollreveal.min.js' %}"></script>
 -->

</body>

</html>
